pre.tomorrow .InheritedClass {
}
pre.tomorrow .TypeName {
   color: #469df6;
}
pre.tomorrow .Number {
}
pre.tomorrow .LibraryVariable {
   color: #469df6;
}
pre.tomorrow .Storage {
   color: #f29a70;
}
pre.tomorrow .line-numbers {
   background-color: #BAD6FD;
   color: #fff;
}
pre.tomorrow code {
   background-color: #5b4e3a;
   color: #fff;
}
pre.tomorrow .subst {
   color: #fb8548;
}
pre.tomorrow .TagName {
}
pre.tomorrow .LibraryConstant {
   color: #469df6;
}
pre.tomorrow .FunctionArgument {
   color: #6dcff6;
}
pre.tomorrow .number {
   color: #469df6;
}
pre.tomorrow .Invalid {
   background-color: #990000;
   color: #FFFFFF;
}
pre.tomorrow .LibraryClassType {
   color: #469df6;
}
pre.tomorrow .LibraryFunction {
   color: #469df6;
}
pre.tomorrow .TagAttribute {
}
pre.tomorrow .keyword {
   color: #f29a70;
}
pre.tomorrow .UserDefinedConstant {
}
pre.tomorrow .string {
   color: #fbc548;
}
pre.tomorrow .function {
   color: #469df6;
}
pre.tomorrow .Variable {
  color: #469df6;
}
pre.tomorrow .comment {
   color: #a28330;
}
