pre.idle .InheritedClass {
}
pre.idle .TypeName {
   color: #469df6;
}
pre.idle .Number {
}
pre.idle .LibraryVariable {
   color: #469df6;
}
pre.idle .Storage {
   color: #f29a70;
}
pre.idle .line-numbers {
   background-color: #BAD6FD;
   color: #fff;
}
pre.idle {
   background-color: #5b4e3a;
   color: #fff;
}
pre.idle .StringInterpolation {
   color: #990000;
}
pre.idle .TagName {
}
pre.idle .LibraryConstant {
   color: #469df6;
}
pre.idle .FunctionArgument {
   color: #6dcff6;
}
pre.idle .BuiltInConstant {
   color: #469df6;
}
pre.idle .Invalid {
   background-color: #990000;
   color: #FFFFFF;
}
pre.idle .LibraryClassType {
   color: #469df6;
}
pre.idle .LibraryFunction {
   color: #469df6;
}
pre.idle .TagAttribute {
}
pre.idle .Keyword {
   color: #f29a70;
}
pre.idle .UserDefinedConstant {
}
pre.idle .String {
   color: #fbc548;
}
pre.idle .FunctionName {
   color: #469df6;
}
pre.idle .Variable {
  color: #469df6;
}
pre.idle .Comment {
   color: #acacac;
}
